/* шрифты */
$primary-font:"Montserrat",
"Arial",
sans-serif;

/* media-разрешения */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1330px;

$black: #000000;
$white: #ffffffff;
$blue_18A0FB: #18A0FB;

$grey_B9C8D2: #B9C8D2;
$grey_D9D9D9: #D9D9D9;
