.footer {
  min-height: 165px;
  padding-bottom: 23px;
  margin-top: 30px;
  background:
    linear-gradient(rgba(255, 255, 255, 0.1), $transparent 1px),
    linear-gradient(90deg,
      rgba(255, 255, 255, 0.1), $blue-088DE6 1px);
  background-size: 15px 15px;
  background-position: center center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient($blue-088DE6, $blue-18A0FB);
    z-index: 1;
    opacity: 0.9;
  }

  &__wrapper {
    z-index: 1;
    position: relative;
  }

  &__copyright {
    color: $white;
    font-size: 12px;
    text-align: center;
    margin: 0;

    @media screen and (min-width: $tablet-width) {
      font-size: 15px;
    }
  }

  &__social-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 28px 0 40px 0;
  }
}
