.dropdown {
  &__tab {
    font-weight: 700;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $black;
    width: 355px;

    @media screen and (min-width: $tablet-width) {
      width: 460px;
    }

    svg {
      transform: rotate(90deg);
      margin-left: auto;
      transition: 0.3s ease-in-out;

      &.state {

        transform: rotate(270deg);
      }
    }
  }

  &__content {
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    display: none;
  }
}
