.faq {
  &__wrapper {
    max-width: 1440px;
  }

  &__title {
    margin-bottom: 40px;

    @media screen and (min-width: $tablet-width) {
      text-align: center;
    }
  }

  &__list {
    @media screen and (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      column-gap: 25px;
      justify-content: center;
    }
  }

  &__item {
    border: 1px solid $blue-18A0FB;
    border-radius: 15px;
    margin-bottom: 25px;
    padding: 7px;

    @media screen and (min-width: $tablet-width) {
      flex: 1 1 calc(50% - 20px); /* Для планшетов и больше */
      max-width: 600px;
      min-width: 355px;
    }
  }

  &__question-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-out;

    &--opened {
      transform: rotate(90deg);
    }
  }

  &__answer-wrapper {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
}
