.faq {
  &__wrapper {
    max-width: 1440px;
  }

  &__title {
    margin-bottom: 40px;

    @media screen and (min-width: $tablet-width) {
      text-align: center;
    }
  }

  &__list {
    display: grid;
    gap: 10px;
    justify-content: center;

    @media screen and (min-width: $tablet-width) {
      grid-template-columns: 1fr 1fr;
      gap: 10px 25px;
      align-items: flex-start;

    }
  }

  &__item {
    border: 1px solid $blue-18A0FB;
    border-radius: 15px;
    padding: 20px;
    height: auto;
    justify-items: center;
    max-width: 500px;

    @media screen and (min-width: $tablet-width) {
      max-width: 365px;

      &:nth-of-type(odd) {
        justify-self: flex-end;
      }

      &:nth-of-type(even) {
        justify-self: flex-start;
      }
    }

    @media screen and (min-width: $desktop) {
      max-width: 480px;
    }

    @media screen and (min-width: $desktop-width) {
      max-width: 500px;
    }
  }

  &__question-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    max-width: 100%;
    min-height: 100px;

    svg {
      margin-left: 10%;
    }
  }
}
