.form {
  position: relative;

  @media screen and (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 240px;
    margin-top: -215px;
    margin-bottom: 100px;

    &::before,
    &::after {
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      min-width: calc(100% - 20px);
      min-height: calc(100% - 20px);
      border-bottom: 5px solid $white;
      border-right: 5px solid $white;
      pointer-events: none;
    }

    &::after {
      min-width: calc(100% - 50px);
      min-height: calc(100% - 50px);
    }

  }

  @media screen and (min-width: $desktop-3) {
    padding-top: 385px;
    margin-top: -185px;
  }


  &__bg {
    min-height: 100%;
    width: 100%;
    background-image: url('/images/mobile-form.webp');
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

    @media screen and (min-width: $desktop-width) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-image: url('/images/form.webp');
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-size: cover;

    }

    @media screen and (min-width: $desktop-3) {
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__wrapper {
    max-width: 742px;
    padding-bottom: 60px;

    @media screen and (min-width: $desktop-width) {
      display: flex;
      max-width: 100%;
      justify-content: space-between;
      align-items: flex-end;
      margin-right: 0;
      padding-bottom: 0;

    }

    @media screen and (min-width: $fullHD-width) {
      margin-right: 20%;
    }

    .secondary-title,
    .third-base-text {
      text-align: center;
      color: $white;

      @media screen and (min-width: $tablet-width) {
        max-width: 700px;
        text-align: left;
      }
    }

    .secondary-title {
      @media screen and (min-width: $desktop-width) {
        text-transform: uppercase;
        font-family: $secondary-font;
        font-weight: 400;
      }
    }

    .third-base-text {
      margin-bottom: 60px;
      font-size: 18px;
      line-height: 30px;
    }
  }

  &__form {
    min-width: inherit;
    display: grid;
    gap: 34px;

    @media screen and (min-width: $tablet-width) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__block {
    display: grid;
    position: relative;
    align-content: baseline;

    &:last-of-type {
      @media screen and (min-width: $tablet-width) {
        grid-column: 1/-1;
      }
    }
  }

  &__content {
    padding-top: 100px;

    @media screen and (min-width: $desktop-width) {
      max-width: 600px;
    }



  }

  .button {
    min-width: calc(100% - 40px);
    margin: 0 auto;

    @media screen and (min-width: $tablet-width) {
      grid-column: 1/-1;
      min-width: 355px;
      margin-right: 0;
    }

    &:disabled {
      opacity: 0.3;
      cursor: auto !important;

      &:hover {
        opacity: 0.3;
        background-color: $white;
        color: $blue-088DE6;

        pointer-events: none;
      }
    }
  }
}

#hiddenFormInput {
  position: absolute;
  z-index: -1000;
  opacity: 0;
}
