.header-info {
margin-left: auto;

  &__contacts-list {
    display: none;


    @media screen and (min-width: 870px) {
      display: flex;
      gap: 10px;
    }

    @media screen and (min-width: $desktop-width) {
      gap: 25px
    }
  }
}
