.header-action {
  width: 100%;
  margin-top: 10px;

  @media screen and (min-width: $tablet-width) {
    width: inherit;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 0;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0;
  }

  &__info {
    margin: 0;

    @media screen and (min-width: $tablet-width) {
      width: 90px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__call {
    margin-top: 5px;
    font-size: 16px;
    padding: 10px;
    color: $white;
    background-color: $blue_58BCFF;
    border-radius: 5px;
    width: 100%;

    @media screen and (min-width: $tablet-width) {
      width: 200px;
      margin-top: 0;
      margin-inline: auto;
    }
  }

  &__mail {
    margin-top: 5px;
  }
}
