.robots-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-inline: 10px;

  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 0.49fr;
    gap: 10px;
    max-width: 800px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  &__main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media screen and (min-width: $desktop) {
      height: auto;
    }
  }

  &__sub-images-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
    margin-top: 10px;

    @media screen and (min-width: $tablet-width) {
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__sub-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
