.video-block {
  &__wrapper {
    max-width: 1440px;
  }

  &__title {
    font-size: 25px;
    line-height: 32px;
    margin: 0 0 40px 0;

    @media screen and (min-width: $tablet-width) {
      font-size: 32px;
      line-height: 46px;
      text-align: center;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: center;
      max-width: 800px;
      margin: 0 auto;
    }
  }

  &__video-wrapper {
    position: relative;
    width: 100%;

    @media screen and (min-width: $tablet-width) {
      margin-right: 20px;
    }

    @media screen and (min-width: $desktop-width) {
      margin-right: 40px;
      width: 50%;
    }

    &.zoom {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__video {
    width: inherit;
    height: 400px;
    margin: auto;
    object-fit: cover;

    @media screen and (min-width: $tablet-width) {
      min-width: 345px;
      width: 100%;
      margin: auto;
      height: 300px;
    }

    &.zoom {
      height: 100%;
    }
  }

  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: $blue-18A0FB;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $white;
      clip-path: polygon(50% 0, 0 70%, 100% 70%);
      transform: rotate(90deg);
    }

    &.pause {
      opacity: 0.5;

      &::after {
        clip-path: none;
        width: 25px;
        height: 25px;
        border: none;
        background-position: center;
        background-size: cover;
        background-image: url('./../../images/icons/pause.svg');
        transform: rotate(0deg);
      }
    }
  }

  &__zoom-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: $blue-18A0FB;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &::after {
      content: "";
      width: 25px;
      height: 25px;
      background-image: url('./../../images/icons/plus-zoom.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.zoom {
      opacity: 0.5;

      &::after {
        background-image: url('./../../images/icons/zoom-minus.svg');
      }
    }
  }

  &__sound-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: $blue-18A0FB;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &::after {
      content: "";
      width: 25px;
      height: 25px;
      background-image: url('./../../images/icons/sound-off.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.sound {
      opacity: 0.5;

      &::after {
        background-image: url('./../../images/icons/sound-on.svg');
      }
    }
  }

  &__text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;

    @media screen and (min-width: $tablet-width) {
      max-width: 550px;
    }

    @media screen and (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
